img.blur{
    filter:blur(5px);
}
img.bright{
    filter:brightness(200%);
}
img.contrast{
    filter:contrast(200%);
}
img.dropshadow{
    filter:drop-shadow(8px 8px 10px grey);
}
img.grayscale{
    filter:grayscale(50%);
}
img.invert{
    filter:invert(100%);
}